// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : linear-gradient(170deg, #FFF1BF 0%, #EC458D 50%, #474ED7 100%);
$secondary : #FFF1BF;
$accent    : #EC458D;

$white     : #FFFFFF;

$dark-400  : #D0D0D0;
$dark-500  : #828282;
$dark-600  : #6D6D6D;
$dark-700  : #4A4A4A;
$dark-800  : #2F2F2F;
$dark-900  : #121212;

$positive  : #69DB7C;
$negative  : #FA5252;
$info      : #66D9E8;
$warning   : #FCC419;
